#menu_navi {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.slicknav_menu {
    position: fixed;
    width: 100%;
    top: 0;
}

#now_date {
    position: fixed;
    /* topはjsで算出 */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* メッセージ表示範囲  */
#message_stream{
     background: #6f92c0; /* 入力欄の背景色と同一にする必要がある */
     margin: 0 auto;
     width: 100%;
     height: 60vh;
     overflow: scroll;   /* スクロール表示 */ 
}

.arrow_answer,
.arrow_question {
    /* position: relative;  これを設定したらdescriptionの上にメッセージが表示されてしまう*/
    word-wrap: break-word;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width:83%;
    padding:3%;
} .arrow_question {
    float: right;
    margin-right: 1%;
} .arrow_answer {
    background: #85e249;
    margin-left: 1%;
}

.question_image{
     float: left;
     width:15%;
}


.answer_image{
     float: right;
     width:15%;
}

.answer_image img,
.question_image img{
     border-radius: 50px;
     width: 100%
}

.question_image{
     float: left;
     width:15%;
}

.sex_man,
.sex_woman,
.sex_none{
    border-radius: 50px;
} .sex_man{
    background: #225fe7;    
} .sex_woman{
    background: #f19ec2;    
} .sex_none{
    background: #fff;    
}


.question_box{
     width: 100%;
     overflow: hidden;
     margin-bottom: 8%;
}


p.question_name,
p.answer_name{
     font-size: 11px;
     color: #fff;
     margin:0;
}

p.answer_name{text-align: right;}

.send_time{
    text-align: center;
    font-size: 11px;
    color: #fff;
}

.information_box{
     text-align: center;
     color: #fff;
     background-color:rgba(119,136,153,0.5);
     height: 50px;
     line-height: 50px;
     width: 100%;
     overflow: hidden;
     margin-bottom: 8%;
}

#message_input_area{
     background: #6f92c0;　　/* メッセージ欄の背景色と同一にする必要がある */
}
