html {
    overflow-y: scroll;
    font-size: 62.5%;
}

body {
    overflow: hidden;
    font-size: 1.4rem;
    font-family: "times new roman";
}

a {
	color: #c0c0c0;
	text-decoration: none;
}

#overlay{
    display: none;
    width: 100%;
    height:100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(90, 230, 40, 1);
}

/* オーバーレイの実装 */
/* [参考](http://coliss.com/articles/build-websites/operation/css/css-centering-in-the-unknown-by-css-tricks.html) */
#overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
} #overlay .content{
        font-size: 40px;
        color: #fff;
        font-weight: bold;
        margin: auto;
        display: inline-block;
        vertical-align: middle;
}


/* トースターのスタイルをオーバーライド */
#toast-container.toast-top-full-width{
    margin-top:50px;
}